.nev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;


}

.mcolor {
    color: #FD6E0A;
}

.marry {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.nev>ul {
    display: flex;
    align-items: center;

}

.nev li {
    list-style: none;
    margin: 50px;
}

.nev a {
    text-decoration: none;
    color: #474747;
}

.Hire {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 7px 13px;
}

/* header background image added */
.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    /* border: none; */
    color: white;
    font-size: 15px;
    font-weight: 700px;
    padding: 7px 13px;
}

.Contact {
    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile {
    width: 400px;


}

.banner-greeting {
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pg {
    display: flex;
    width: 585px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
    line-height: normal;
}

.section {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.main {
    max-width: 1140px;
    margin: 0px auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    color: #453f3f;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#id-pg {
    color: var(--dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 6px 50px 0px rgba(15, 14, 14, 0.06);

}

.skill {
    padding: 30px;
    gap: 24px;
}

.skill-description {
    color: #453f3f;
    font-size: 20px;
}

.main section {
    margin-top: 130px;
}

/* resume section */

.resume-colum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.Downlaod-Cv {
    text-align: center;
    margin-top: 50px;
}

/* footer section */
footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"], .contact input [type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: color#FFF;
    border: 0px;
    width: 100%;
}
.btn{
    padding:10px;
}
.em{
    padding: 18px 35px;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 25px;
}
.social-link a{
    margin-right: 24px;
}