.nev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    

}
.mcolor{
   color: #FD6E0A; 
}

.marry{
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.nev>ul{
    display: flex;
    align-items: center;
    
}
.nev li{
    list-style: none;
    margin: 50px;
}
.nev a{
    text-decoration: none;
    color:#474747 ;
}
.Hire{
    border-radius: 5px;
background: #FD6E0A;
border: none;
color: white;
font-size: 20px;
font-weight: 700px;
padding: 7px 13px;
}
/* header background image added */
.header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat:no-repeat;
    background-position:bottom right;
    
}
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    border-radius: 5px;
    background: #FD6E0A;
    /* border: none; */
    color: white;
    font-size: 15px;
    font-weight: 700px;
    padding: 7px 13px;
}
.Contact{
    color: #FD6E0A;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.profile{
    width: 400px;
   
    
}
.banner-greeting{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.title{
    color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.pg{
    display: flex;
width: 585px;
flex-direction: column;
flex-shrink: 0;
color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color:#FFF8F3 ;
    margin: 130px 0px;
    line-height: normal;
}
.section{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}
.main{
    max-width: 1140px;
    margin: 0px auto;
}
.about-info-container{
    display: flex;
    justify-content:space-around;
}
.about-info{
    color: #453f3f;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
#id-pg{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px;}
.skills-container{
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
background: #ffffff;
box-shadow: 0px 6px 50px 0px rgba(15, 14, 14, 0.06);

}
.skill{
    padding: 30px;
    gap: 24px;
}
.skill-description{
    color: #453f3f;
    font-size: 20px;
}
.main section{
    margin-top: 130px;
}
